

/*.font-large { 
	font-size:3em;  
}

.color-red  {
 color : red;    
}*/

/*.underline  { 
	text-decoration : underline; 
}  */

.net{

	margin-left: 14rem;
}

.brut{
	margin-left: 7rem;
}


/*--------------------Tableau-----------------------*/
table input{
	text-align: center;
}

/*.salaire{
	width: 200px;
}*/
